{{- if .Values.clickhouse.s3.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "laminar-dataplane.resourceName" "clickhouse-storage-config" }}
  labels:
    {{- include "laminar-dataplane.labels" . | nindent 4 }}
data:
  storage_config.xml: |
    <clickhouse>
      <!-- Listen on all interfaces for Kubernetes pod access -->
      <listen_host>0.0.0.0</listen_host>
      <storage_configuration>
        <disks>
          <s3_disk>
            <type>s3</type>
            <endpoint>{{ .Values.clickhouse.s3.endpoint }}</endpoint>
            {{- if .Values.clickhouse.s3.region }}
            <region>{{ .Values.clickhouse.s3.region }}</region>
            {{- end }}
            {{- if and .Values.clickhouse.s3.accessKeyId .Values.clickhouse.s3.secretAccessKey }}
            <access_key_id>{{ .Values.clickhouse.s3.accessKeyId }}</access_key_id>
            <secret_access_key>{{ .Values.clickhouse.s3.secretAccessKey }}</secret_access_key>
            {{- end }}
            {{- if .Values.clickhouse.s3.useEnvironmentCredentials }}
            <use_environment_credentials>true</use_environment_credentials>
            {{- end }}
            <metadata_path>/var/lib/clickhouse/disks/s3_disk/</metadata_path>
          </s3_disk>
          {{- if .Values.clickhouse.s3.cache.enabled }}
          <s3_cache>
            <type>cache</type>
            <disk>s3_disk</disk>
            <path>/var/lib/clickhouse/disks/s3_cache/</path>
            <max_size>{{ .Values.clickhouse.s3.cache.maxSize }}</max_size>
          </s3_cache>
          {{- end }}
        </disks>
        <policies>
          <s3_main>
            <volumes>
              <main>
                {{- if .Values.clickhouse.s3.cache.enabled }}
                <disk>s3_cache</disk>
                {{- else }}
                <disk>s3_disk</disk>
                {{- end }}
              </main>
            </volumes>
          </s3_main>
        </policies>
      </storage_configuration>
      <merge_tree>
        <storage_policy>s3_main</storage_policy>
      </merge_tree>
    </clickhouse>
{{- end }}
